

<div class="body">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="imageRonaldo">
                    <img src="https://i.pinimg.com/originals/1a/0e/cd/1a0ecd929f63806f0f0eb06900cbf17a.png">
                </div>
            </div>

            <div class="col-md-4">
                <div class="imageMessi">
                    <img src="https://mbtskoudsalg.com/images/messi-png-2016.png">
                  </div>
            </div>
        </div>


      </div>
    <table>
      <tr>
        <td><canvas id='barChart'></canvas></td>
        <td><canvas id='barCharttwo'></canvas></td>
      </tr>
    </table>


</div>
<app-loading-spinner *ngIf ="showSpinner"></app-loading-spinner>



